<body class="bg-black min-h-screen flex justify-center items-center">
  <div class="text-center grid grid-cols-1 gap-4 overflow-auto p-8"> <!-- Utilisez CSS Grid avec une seule colonne -->
    <h1 class="text-2xl font-bold m-8 text-white">Mon vinyl</h1>
    <div class="flex flex-col items-center">
      <div class="flex">
        <img src="<%= @vinyl.image %>" alt="" class="w-60 h-60">
      </div>
      <div class="flex">
        <span class="font-bold text-white">Nom de l'album :</span>
        <span class="text-white ml-2 text-center"><%= @vinyl.title %></span>
      </div>
      <div class="flex">
        <span class="font-bold text-white">Nom de l'artiste :</span>
        <span class="text-white ml-2 text-center"><%= @vinyl.artist_name %></span>
      </div>
      <div class="flex">
        <span class="font-bold text-white">Paru en :</span>
        <span class="text-white ml-2 text-center"><%= @vinyl.year %></span>
      </div>
      <div class="flex">
        <span class="font-bold text-white">Genre :</span>
        <span class="text-white ml-2 text-center"><%= @vinyl.genres %></span>
      </div>
      <div class="flex">
        <% if @vinyl.tracks.present? %>
          <div class="flex flex-col">
            <span class="font-bold text-white mb-2 text-center">Tracklist :</span>
            <div class="text-white mb-4 text-center" data-controller="spotify" data-spotify-target="tracklist">
              <ul class="mb-8">
                <% @vinyl.tracks.each_with_index do |track, index| %>
                  <li><%= index + 1 %> . <%= track['title']%></li>
                <% end %>
              </ul>
            </div>
          </div>
        <% else %>
          <p class="text-white mb-4 text-center">Aucune piste sur cet album.</p>
        <% end %>
      </div>
      <div>
        <%= link_to 'Retourner à la bibliothèque', vinyls_path, class: "m8 w-40 py-2 px-4 bg-yellow-500 hover:bg-yellow-600 text-white font-semibold rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-opacity-50" %>
      </div>
    </div>
  </div>
</body>
