<h1>Résultat de la recherche :</h1>
<%= @vinyl.title %>
<%= @vinyl.genre %>
<%= @vinyl.country %>
<%= @vinyl.resource_url %>





<div class="vinyl">
  <div class="vinyl-title">
    <%= @vinyl.title %>
  </div>
  <div class="vinyl-artist">
    <%= @vinyl.artist_name %>
  </div>
  <div class="vinyl-year">
    <%= @vinyl.year %>
  </div>
<div class="btn">
<%= link_to 'Retourner à la bibliothèque', vinyls_path%>
</div>
</div>
