<div class="bg-dark flex flex-col justify-center items-center custom-height pb-20 relative overflow-x-hidden" data-controller="spotify music">
  <div class="flex flex-col justify-start items-start w-full">
    <%= link_to '← Retour', vinyls_path, class: "relative z-40 mt-10 ml-12 rounded-full p-2 pl-6 pr-6 text-md font-scto text-red border border-red" %>
  </div>

  <div class="flex flex-col items-center mt-12">
    <div class="flex poster relative z-20" style="display: flex; align-content: center; vertical-align: center; justify-content: center; position: relative; overflow: hidden;">
      <span id="dot" style="position: absolute; z-index: 10; top:85px"></span>
      <img class="vinyl w-52 h-52" src="<%= @vinyl.image %>" alt="" class="vinyl w-60 h-60" data-music-target="vinyl" data-action="mousemove->music#scratch">
    </div>
    <div class="absolute z-0 top-28 div-scroller scale-150" data-controller="scroll-album-name-vinyl">
      <div class="scroller" data-speed="fast">
        <p class="scroller-inner pb-2 fake-contour uppercase font-tuskerGrotesk font-medium text-dark text-4xl mt-10 ml-6 mr-6">
          <span><%= @vinyl.title %> - </span><span><%= @vinyl.title %> - </span><span><%= @vinyl.title %> - </span>
        </p>
      </div>
      <div class="scroller" data-speed="fast" data-direction="right">
        <p class="scroller-inner pb-2 fake-contour mr-20 uppercase font-tuskerGrotesk font-medium text-dark text-4xl">
          <span><%= @vinyl.title %> - </span><span><%= @vinyl.title %> - </span><span><%= @vinyl.title %> - </span>
        </p>
      </div>
      <div class="scroller" data-speed="fast">
        <p class="scroller-inner pb-2 fake-contour uppercase font-tuskerGrotesk font-medium text-dark text-4xl ml-6 mr-6">
          <span><%= @vinyl.title %> - </span><span><%= @vinyl.title %> - </span><span><%= @vinyl.title %> - </span>
        </p>
      </div>
      <div class="scroller" data-speed="fast" data-direction="right">
        <p class="scroller-inner pb-2 fake-contour mr-20 uppercase font-tuskerGrotesk font-medium text-dark text-4xl">
          <span><%= @vinyl.title %> - </span><span><%= @vinyl.title %> - </span><span><%= @vinyl.title %> - </span>
        </p>
      </div>
      <div class="scroller" data-speed="fast">
        <p class="scroller-inner fake-contour mr-20 uppercase font-tuskerGrotesk font-medium text-dark text-4xl">
          <span><%= @vinyl.title %> - </span><span><%= @vinyl.title %> - </span><span><%= @vinyl.title %> - </span>
        </p>
      </div>
    </div>

    <div class="flex flex-col justify-center text-center relative z-30">
      <h1 class="font-tuskerGrotesk font-medium text-red text-4xl mt-4 ml-6 mr-6"><%= @vinyl.title %></h1>
      <h3 class="font-tuskerGrotesk font-light text-white text-2xl mt-2"><%= @vinyl.artist_name %></h3>
      <p class="text-red mt-1"><%= @vinyl.year %> - <%= @vinyl.genres %></p>
    </div>

    <div class="flex">
      <% if @vinyl.tracks.present? %>
        <div class="flex flex-col">
          <div class="flex flex-col">
            <span class="text-md text-white mt-10 mb-4 text-left">On s'écoute ça ?</span>
          </div>
          <div class="text-white mb-4 text-center">
            <ul class="mb-8 relative z-0">
              <% @vinyl.tracks.each_with_index do |track, index| %>
                <% truncated_title = track['title'].length > 24 ? "#{track['title'][0, 24]}..." : track['title'] %>
                <li class="text-left mb-3"><%= index + 1 %> - <span class="text-red"><%= truncated_title %></span></li>
                <audio class="mb-4" controls controlsList="nodownload noplaybackrate" data-music-target="audio" data-action="play->music#play pause->music#stop">
                  <source src="<%= track['preview_url'] %>" type="audio/mpeg">
                </audio>
              <% end %>
            </ul>
        </div>
      </div>
    <% else %>
      <p class="text-white mb-4 text-center">Aucune piste sur cet album.</p>
    <% end %>
  </div>
  <div class="flex flex-col justify-center text-center">
    <%= link_to 'Supprimer cet album', vinyl_path(@vinyl), data: {turbo_method: :delete, turbo_confirm: 'Êtes vous sûr.e ?'}, class: "mr-1 mb-2 bg-dark border border-grey rounded-full p-2 pl-8 pr-8 font-scto text-grey" %>
  </div>
</div>
</div>
