<div class="flex min-h-screen flex-col justify-center items-center text-center">
  <img src="<%= asset_path('illu-woman.svg') %>" alt="femme-musique" class="w-36">
  <div class="flex flex-col justify-center">
    <h2 class="font-scto text-lg text-white tracking-wide mb-1"> Comme qui dirait... </h2>
    <h1 class="font-tuskerGrotesk font-medium text-4xl text-white tracking-wider mb-4"> On connait <br> la chanson ! </h1>
  </div>
  <div class="w-72">
    <div class="flex items-start p-3 mb-3 border border-red rounded-xl">
      <img src="<%= asset_path('album_name_scan.svg') %>" alt="nom_album">
      <div class="text-start pl-3">
        <h3 class="pt-1 font-tuskerGrotesk font-medium text-red tracking-widest">NOM DE L'ALBUM</h3>
        <h2 class="font-scto text-lg text-white tracking-wide"><%= scan.title %></h2>
      </div>
    </div>
    <div class="flex items-start p-3 mb-3 border border-red rounded-xl">
      <img src="<%= asset_path('artist_name_scan.svg') %>" alt="nom_artiste">
      <div class="text-start pl-3">
        <h3 class="font-tuskerGrotesk font-medium text-red tracking-widest pt-1">NOM DE L'ARTISTE</h3>
        <h2 class="font-scto text-lg text-white tracking-wide"><%= scan.artist_name %></h2>
      </div>
    </div>
    <div class="flex items-start p-3 border border-red rounded-xl mb-2">
      <img src="<%= asset_path('paru_scan.svg') %>" alt="paru_en">
      <div class="text-start pl-3">
        <h3 class="font-tuskerGrotesk font-medium text-red tracking-widest pt-1">SORTIE</h3>
        <h2 class="font-scto text-lg text-white tracking-wide"><%= scan.year %></h2>
      </div>
    </div>
  </div>

  <div class="text-center">
      <p class="font-scto text-md text-white tracking-wide"> Est-ce bien l’album que vous recherchez ? </p>
      <div class="flex justify-center">
        <%= form_with model: Vinyl.new do |f| %>

          <%= f.hidden_field :title, value: scan.title, data: { scan_subscription_target: "vinylTitle" } %>
          <%= f.hidden_field :artist_name, value: scan.artist_name, data: { scan_subscription_target: "vinylArtistName" } %>
          <%= f.hidden_field :year, value: scan.year, data: { scan_subscription_target: "vinylYear" } %>

          <%= f.submit "Valider", data: { scan_subscription_target: "submitBtn" }, class: "mr-1 mt-3 bg-red rounded-full p-2 pl-8 pr-8 text-md font-scto text-white", disabled: true %>
          <%= f.submit "Réessayer", class: "ml-1 mt-3 border border-white rounded-full p-2 pl-8 pr-8 text-md font-scto text-white", disabled: true %>

        <% end %>
      </div>
    </div>
</div>
