<div class="bg-dark h-screen flex flex-col justify-center items-center text-center ">
  <img src= "<%= asset_path('illu1 1.svg') %>" alt="YourSVG" class="w-2/5  mb-12">
    <h1 class="font-tuskerGrotesk text-white mt-5 mb-5">Préparez-vous à agrandir votre collection...</h1>
    <p class="text-red mt-5">Scannez la pochette de votre vinyl</p>
    <div class="w-max border border-red rounded-full mt-2 mb-2">
      <%= form_with model: @scan do |form| %>
      <label for="scan_image">
        <img src= "<%= asset_path('scan.svg') %>" alt="Scan" class=" p-10">
      </label>
    </div>
      <%= form.file_field :image, class: "hidden"%>
      <%= form.submit "Valider",  class:"bg-red inline-block rounded-full bg-danger px-6 pb-2 pt-2.5 text-xs font-medium text-white mt-2 mb-5"%>
    <% end %>
</div>
