<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />


    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= favicon_link_tag '/favicon.ico' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= javascript_include_tag 'https://sdk.scdn.co/spotify-player.js' %>
    <%= csrf_meta_tags %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>
  </head>

  <body class="bg-dark">

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <nav class="fixed inset-x-0 bottom-0 bg-dark pb-4 pt-2">
      <ul class="flex">
        <%= link_to root_path, class:"flex-grow #{ current_page?(root_path) || current_page?(scan_path(@scan.nil? ? Scan.first : @scan )) ? "border-t-2 border-white text-white" : "text-gray-400"}" do %>
          <li class="pt-4 pb-4 flex justify-center items-center p-2">
            <% if current_page?(root_path) || current_page?(scan_path(@scan.nil? ? Scan.first : @scan )) %>
              <img src="<%= asset_path('icon-scan-on.svg') %>" class="pr-2">
              <p>Scan</p>
            <% else %>
              <img src="<%= asset_path('icon-scan-off.svg') %>" class="pr-2">
              <p class="text-grey">Scan</p>
            <% end %>
          </li>
        <% end %>
        <%= link_to vinyls_path, class:"flex-grow #{ current_page?(vinyls_path)  || current_page?(vinyl_path(@vinyl.nil? ? Vinyl.first : @vinyl )) ? "border-t-2 border-white text-white" : "text-gray-400"}" do %>
          <li class="pt-4 pb-4 flex justify-center items-center p-2">
            <% if current_page?(vinyls_path)  || current_page?(vinyl_path(@vinyl.nil? ? Vinyl.first : @vinyl )) %>
              <img src="<%= asset_path('icon-bibli-on.svg') %>" class="pr-2">
              <p>Bibliothèque</p>
            <% else %>
              <img src="<%= asset_path('icon-bibli-off.svg') %>" class="pr-2">
              <p class="text-grey">Bibliothèque</p>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>


  </body>
</html>
