<!DOCTYPE html>
<html>
  <head>
    <title>Harmony</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= javascript_include_tag 'https://sdk.scdn.co/spotify-player.js' %>
    <%= csrf_meta_tags %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>
  </head>

  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
    <nav class="fixed inset-x-0 bottom-0 bg-dark text-white">
      <ul class="flex border-b-2 border-white">
        <%= link_to root_path, class:"flex-grow" do %>
          <li class="pt-4 pb-4 flex justify-center items-center p-2">
            <img src="<%= asset_path('icon-scan-on.svg') %>" class="pr-2">
            Scan
          </li>
        <% end %>
        <%= link_to vinyls_path, class:"flex-grow" do %>
          <li class="pt-4 pb-4 flex justify-center items-center p-2">
            <img src="<%= asset_path('icon-bibli-on.svg') %>" class="pr-2">
            Bibliothèque
          </li>
        <% end %>
      </ul>
    </nav>
  </body>
</html>
